<div class="row">
  <div class="col-md-4 col-md-offset-1">Title</div>
  <div class="col-md-4">URL</div>
  <div class="col-md-1">Category</div>
</div>
<hr>

<%= for article <- @articles do %>
  <div class="row">
    <div class="col-md-4 col-md-offset-1"><%= article.title %></div>
    <div class="col-md-4">
      <a href=<%= article.url %> target="_blank"><%= article.url %></a>
    </div>
    <div class="col-md-1"><%= article.category %></div>
  </div>
<% end %>
