body {
  padding-top: 60px;
  margin: 20px 0 20px 0;
}

#article_control_buttons {
  margin: 30px 0 0 15px;
  button {
    margin-right: 5px;
  }
}

#single_article_form {
  input { margin-right: 5px; }
}

#bulk_articles_form {
  form { margin-top: 10px; }
  button { margin-top: 5px; }
}
